<!-- Sidebar -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background: linear-gradient(to bottom, #8B0000, #4B0082);">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        
            <i class="bi bi-house-gear-fill"></i>
        
        <div class="sidebar-brand-text mx-3">MatchMind </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="static">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    
    <!-- Nav Item - Pages Collapse Menu -->
    
    <li class="nav-item">
        <a class="nav-link" href="admin">
            <i class="bi bi-people"></i>
                        <span>User Management</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="view-tutorial">
            <i class="bi bi-camera-reels"></i>
            <span>Tutorial Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="blogs">
            <i class="bi bi-pencil-square"></i>
            <span>Blog Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/list">
            <i class="bi bi-calendar2-event"></i>
            <span>Session Management</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="competition-list">
            <i class="bi bi-award-fill"></i>
            <span>Competition Management</span></a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="view-reclamation">
            <i class="bi bi-award-fill"></i>
            <span>Reclamation Management</span></a>

    </li>

    <!-- <li class="nav-item">
        <a class="nav-link" href="admin">
            <i class="bi bi-bar-chart-steps"></i>
            <span>Categorie Management</span></a>
    </li> -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="statistics-reclamation">
            <i class="bi bi-exclamation-octagon"></i>
            <span>Reclamation Management</span></a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="/club-back">
            <i class="bi bi-hurricane"></i>
            <span>Club Management</span></a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
</ul>
<!-- End of Sidebar -->
